<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente RPC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="text-light">

<div class="main-card">

    <h1 class="title">
        Client RPC - RabbitMQ
    </h1>

    <form method="POST">

        <div class="mb-3">

            <input
                type="text"
                class="form-control"
                name="message"
                placeholder="Enter message..."
                required
            >

        </div>

        <button
            type="submit"
            class="btn btn-primary w-100"
        >
            Enviar Solicitud
        </button>

    </form>

    {% if response %}

    <div class="alert alert-info response-box">

        <strong>Respuesta del servidor:</strong>
        <br><br>

        {{ response }}

    </div>

    {% endif %}

</div>

</body>
</html>